.moviesList {
  list-style-type: none;
}

.li {
  margin-bottom: 4px;
}

.linkage {
  padding: 0 10px;
  background-color: RGB(255, 255, 255, 0.5);
  text-decoration: none;
  color: #0d253f;
}

.linkage:global(:hover) {
  font-weight: bold;
}
